:root {
  --bg: #1a1a1a; 
}

a {
  color: #f0f0f0; 
  text-decoration: none;
}

a:hover {
  color: #ff6f61;
}

.bg {
  background-color: var(--bg);
}

p {
  text-transform: uppercase;
  font-weight: bold;
}

.content p {
  background: -webkit-linear-gradient(45deg, #6a11cb 0%, #2575fc 100%); 
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden-content {
  --x: 0px;
  --y: 0px;
  --size: 5px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(102, 126, 234); 
  background: -moz-linear-gradient(
    180deg,
    rgba(102, 126, 234, 1) 0%,
    rgba(118, 75, 162, 1) 50%,
    rgba(255, 99, 71, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(102, 126, 234, 1) 0%,
    rgba(118, 75, 162, 1) 50%,
    rgba(255, 99, 71, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(102, 126, 234, 1) 0%,
    rgba(118, 75, 162, 1) 50%,
    rgba(255, 99, 71, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#667eea",endColorstr="#ff6347",GradientType=1);
  color: var(--bg);
  --mask: radial-gradient(
    circle at var(--x) var(--y),
    black var(--size),
    transparent 0
  );
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  pointer-events: none;
  visibility: hidden;
}
